<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE">MUM</title>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<link  rel="stylesheet" type="text/css"
	href="/css/bootstrap.min.css">
<link  rel="stylesheet" type="text/css"
	href="/css/bootstrap.min.css">
<link  rel="stylesheet" type="text/css"
	href="/css/product-details.css">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1557232134/toasty.css" rel="stylesheet" />

</head>
<body>
	<nav th:replace="fragments/dashboard_header :: header"></nav>
	<div class="container-fluid">
		<div id="main-content" layout:fragment="main-content">
		</div>
	</div>
	<!-- <footer th:replace="fragments/dashboard_footer :: footer"></footer> -->
<script th:src="@{/js/tab.js}"></script>
<script th:src="@{/js/number-spinner.js}"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/product-details.js}"></script>
<script th:src="@{/js/bootstrap-input-spinner.js}"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1557232134/toasty.js"></script>
<script>
    var $input = $("input[type='number']");
    $input.inputSpinner();
    $( "input[type='number']" ).change(function() {
    	console.log($(this).attr('id'));
    	console.log($(this).val());
    	if ($(this).attr('id') == 'pd') {
    		return;
    	}
    	$("#itmId").val($(this).attr('id'));
    	$("#itmQuantity").val($(this).val() - $("#oldQuantity").val());
    	$("#form").submit();
    	$("#oldQuantity").val() = $(this).val();
   	});
    $( "#add" ).click(function() {
    	console.log($("#pd").val());
    	console.log($("#productId").val());
    	$("#itmId").val($("#productId").val());
    	$("#itmQuantity").val($("#pd").val());
    	$("#desc").val('details');
    	$("#form").submit();
   	});
</script>
</body>

</html>
