<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<nav th:fragment="header"
	 class="navbar navbar-expand navbar-dark bg-dark static-top">

	<div class="nav-header" style="width: 100%">
		<div class="logo">
			<a class="navbar-brand mr-1" href="home.html" th:href="@{/home}">
				<img th:src="@{/img/logo.png}" style="width: 50px"> <span>Pharaohs</span>
			</a>
		</div>
	</div>
	<div sec:authorize="!hasAuthority('ROLE_ADMIN')" th:if="${searchMessage != null}" style="width: 1000px">
        <form method="get" th:action="@{/search}" th:object="${searchMessage}" ui-jp="parsley">
			<div class="form-group has-search" style="margin: 0; margin-right: 20px">
				<span class="fa fa-search form-control-feedback"></span>
				<input type="text" class="form-control" placeholder="Search"
					 id="filter" th:field="*{search}">
			</div>
        </form>
    </div>
	<div class="dropdown" sec:authorize="isAuthenticated()">
		<img th:src="@{/img/user.png}" style="width: 30px; cursor: pointer;"
			 id="dropdownMenuButton" data-toggle="dropdown" class="navbar-brand mr-1"
			 aria-haspopup="true" aria-expanded="false">

		<ul class="dropdown-menu dropdown-menu-right bg-dark">
			<li class="dropdown-header" th:text="${session.username}">User Name</li>
			<li><a class="dropdown-item" th:href="@{/profile}">Edit Profile</a></li>
			<li><a class="dropdown-item" th:href="@{/addAddress}"
				   sec:authorize="hasAuthority('ROLE_BUYER')">Edit Address</a></li>
			<li><a class="dropdown-item" th:href="@{/addPayment}"
				   sec:authorize="hasAuthority('ROLE_BUYER')">Edit Payment Method</a></li>
			<li><a class="dropdown-item" th:href="@{/viewFollowing}"
				   sec:authorize="hasAuthority('ROLE_BUYER')">Following</a></li>
			<li><a class="dropdown-item" th:href="@{/viewFollower}"
				   sec:authorize="hasAuthority('ROLE_SELLER')">Follower</a></li>
			<li><a class="dropdown-item" th:href="@{/orders}"
				   sec:authorize="hasAuthority('ROLE_BUYER')">Orders</a></li>
			<li><a class="dropdown-item" th:href="@{/selledItems}"
				   sec:authorize="hasAuthority('ROLE_SELLER')">Orders</a></li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
		</ul>
	</div>

	<div class="logo" sec:authorize="hasAuthority('ROLE_BUYER')">
		<a class="navbar-brand mr-1" th:href="@{/cart}"
		   style="float: right;">
			<img th:src="@{/img/cart.png}" style="width: 30px">
			<span th:text="${session.cartCount}">0</span>
		</a>
	</div>
</nav>
</body>
</html>