<!DOCTYPE html>
<html layout:decorate="~{layouts/dashboard_layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Product</title>
</head>
<body>

<div class="col" layout:fragment="main-content">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Add Product</h1>
            <form action="#" enctype="multipart/form-data" method="post"
                  th:action="@{/product/addProductProcess}" th:object="${product}">

                <div style="clear: both; display: block; height: 10px;"></div>

                <input class="form-control" placeholder="Product Name" th:field="*{name}"
                       type="text"/>
                <p th:errors="*{name}"
                   th:if="${#fields.hasErrors('name')}">ProductName Error</p>
                <div style="clear: both; display: block; height: 10px;"></div>

                <input class="form-control" placeholder="Description" th:field="*{description}"
                       type="text"/>
                <p th:errors="*{description}"
                   th:if="${#fields.hasErrors('description')}">Description Error</p>

                <input class="form-control" placeholder="Enter Price" th:field="*{price}"
                       type="text"/>
                <p th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Price
                    Error</p>
                <div style="clear: both; display: block; height: 10px;"></div>

                <input class="form-control" placeholder="Add Quantity" th:field="*{quantity}"
                       type="text"/>
                <p th:errors="*{quantity}"
                   th:if="${#fields.hasErrors('quantity')}">Quantity Error</p>
                <div style="clear: both; display: block; height: 10px;"></div>

				<div class="custom-file mb-3">
			      <input type="file" class="custom-file-input" th:field="*{image}"
						accept="image/png, image/jpeg" id="customFile">
			      <label class="custom-file-label" for="customFile">Choose Photo</label>
			    </div>
                <div style="clear: both; display: block; height: 10px;"></div>

                <span th:if="${approved}">
                       <input class="btn btn-primary form-control" type="submit" value="Save Product">
                </span>
                 <span th:if="!${approved}">
                     <span class="d-inline-block" data-toggle="tooltip" tabindex="0" title="ADMIN MUST APPROVE YOU FIRST">
                    <button class="btn btn-primary form-control" disabled
                            style="pointer-events: none;" type="button">Save Product
                    </button>
                     </span>
                </span>


            </form>

        </div>
    </div>


</div>

</body>
</html>
