<!DOCTYPE html>
<html layout:decorate="~{layouts/dashboard_layout}"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Shopping Cart</title>
</head>
<body>
	<div class="col" layout:fragment="main-content">
		<div class="container" style="text-align: center">
			<h1>Shopping Cart</h1>
			<div th:if="${order.getItems().size() > 0 }">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Product Name</th>
							<th>Seller</th>
							<th>Price</th>
							<th>Quantity</th>
							<th th:if="${order.status != order.getStatus().PREPARED}">Shipping Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${order.items}">
							<td th:text="${item.getProduct().getName()}">name</td>
							<td th:text="${item.getProduct().getSeller().getUsername()}">Seller</td>
							<td th:text="${item.getProduct().getPrice()} + ' $'">Price</td>
							<td>
								<div class="input-group number-spinner" th:if="${order.status == order.getStatus().PREPARED}">
									<input type="number"
										   th:value="${item.getQuantity()}" min="1" th:max="${item.getProduct().getQuantity()}"
										   step="1"/>
								</div>
								<div class="input-group number-spinner" th:if="${order.status != order.getStatus().PREPARED}">
									<input type="number" disabled
										   th:value="${item.getQuantity()}" min="1" th:max="${item.getProduct().getQuantity()}"
										   step="1"/>
								</div>
							</td>
							<td th:if="${order.status != order.getStatus().PREPARED}">
								<span th:text="${item.getStatus()}">Shipping Status</span>
							</td>
							<td>
								<span th:if="${order.status == order.getStatus().PREPARED}">
								<a class="navbar-brand mr-1" th:href="@{'/removeCartItem'(id= ${item.getId()})}">
									<img th:src="@{/img/delete.png}" style="width: 30px">
								</a>
								</span>
								<span th:if="${item.status == item.getStatus().DELIVERED}">
								<a class="btn btn-danger btn-sm mb-3"
								   href="#">Review </a>
                        		</span>
							</td>
						</tr>
					</tbody>
					<tfoot class="thead-dark">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<th><h6 style="margin: 0">Sum</h6></th>
							<th><h6 style="margin: 0" th:text="${order.getTotalPrice()} + ' $'"></h6></th>
						</tr>
					</tfoot>
				</table>
				<div class="row" style="align-content: center; align-items: center; display: block;" th:if="${checkoutEnable}">
					<a class="btn btn-primary" th:href="@{/checkout}"> Check Out </a>
				</div>
				<div class="row" style="align-content: center; align-items: center; display: block;" th:if="!${checkoutEnable}">
					<p>You didn't have a Shipping Address or Payment Method, Please update your information to enable Checkout.</p>
				</div>
			</div>
			<div th:if="${order.getItems().size() == 0 }">
				<img th:src="@{/img/no-product-found.png}">
				<br>
				<h4>You cart is empty!!!</h4>
			</div>
		</div>
	</div>
</body>
</html>
