<!DOCTYPE html>
<html layout:decorate="~{layouts/dashboard_layout}"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Checkout</title>
</head>
<body>
	<div class="col" layout:fragment="main-content">
		<div class="container" style="text-align: center">
			<h1>Checkout</h1>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Product Name</th>
						<th>Seller</th>
						<th>Price</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${order.items}">
						<td th:text="${item.getProduct().getName()}">name</td>
						<td th:text="${item.getProduct().getSeller().getUsername()}">Seller</td>
						<td th:text="${item.getProduct().getPrice()} + ' $'">Price</td>
						<td th:text="${item.getQuantity()}">Quantity</td>
					</tr>
				</tbody>
				<tfoot class="thead-dark">
					<tr>
						<td></td>
						<td></td>
						<th><h6 style="margin: 0">Sum</h6></th>
						<th><h6 style="margin: 0" th:text="${order.getTotalPrice()} + ' $'"></h6></th>
					</tr>
				</tfoot>
			</table>
			<div class="row" style="align-content: center; align-items: center; display: block;">
				<a class="btn btn-primary"
					th:href="@{/placeOrder}"> Place Order </a>
			</div>
		</div>
	</div>
</body>
</html>
