<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layouts/dashboard_layout}"
	  xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>HOME</title>
</head>
<body>

<div class="col" layout:fragment="main-content">

	<form ui-jp="parsley" th:action="@{/search}" th:object="${searchMessage}" method="get">
		<div class="row m-b">
			<div class="col-sm-6">
				Search by Name: <input id="filter" type="text" th:field="*{search}" class="form-control input-sm w-auto inline m-r"/>
				<button class="md-btn md-fab m-b-sm indigo"><i class="material-icons md-24">&#xe8b6;</i></button>
			</div>
		</div>
	</form>

	<div sec:authorize="hasAuthority('ROLE_ADMIN')">Has Authority ADMIN</div>
	<div sec:authorize="hasAuthority('ROLE_SELLER')">Has Authority SELLER</div>
	<div sec:authorize="hasAuthority('ROLE_BUYER')">Has Authority BUYER</div>

	<tr th:each="product: ${productList}">


		<td th:text="${product.name}"></td>
		<a th:href="@{'/detail'(id=${product.id})}">view</a>
		<br><br>
	</tr>
</div>



</body>
</html>

