<!DOCTYPE html>
<html layout:decorate="~{layouts/dashboard_layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Selled Items</title>
</head>
<body>
<div class="col" layout:fragment="main-content">
    <div class="container" style="text-align: center">
        <div sec:authorize="hasAuthority('ROLE_SELLER')">
        <h1>Selled Items</h1>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Shipping Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${items}">
                    <td th:text="${item.getProduct().getName()}">Name</td>
                    <td th:text="${item.getQuantity()}">Quantity</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span th:text="${item.getStatus()}">status</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div th:if="${item.status == item.getStatus().PREPARED}"><a class="btn btn-outline-danger" th:href="@{'/changeStatus'(id=${item.id},status=${item.getStatus().CANCELLED})}">CANCELLED</a></div>
                                <div th:if="${item.status == item.getStatus().PREPARED}"><a  class="btn btn-outline-primary" th:href="@{'/changeStatus'(id=${item.id},status=${item.getStatus().SHIPPED})}">SHIPPED</a></div>
                                <div th:if="${item.status == item.getStatus().SHIPPED}"><a  class="btn btn-outline-info"th:href="@{'/changeStatus'(id=${item.id},status=${item.getStatus().ON_THE_WAY})}">ON_THE_WAY</a></div>
                                <div th:if="${item.status == item.getStatus().ON_THE_WAY}"><a  class="btn btn-outline-success"th:href="@{'/changeStatus'(id=${item.id},status=${item.getStatus().DELIVERED})}">DELIVERED</a>
                            </div>
                        </div>

                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
    </div>
        <div sec:authorize="hasAuthority('ROLE_BUYER')">
        <h1>Order List</h1>
        <div th:if="${order.getItems().size() > 0 }">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th th:if="${order.status != order.getStatus().PREPARED}">Shipping Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${order.items}">
                    <td th:text="${item.getProduct().getName()}">name</td>
                    <td th:text="${item.getProduct().getSeller().getUsername()}">Seller</td>
                    <td th:text="${item.getProduct().getPrice()} + ' $'">Price</td>
                    <td>
                        <div class="input-group number-spinner" >
                            <input type="number" disabled
                                   th:value="${item.getQuantity()}" min="1" th:max="${item.getProduct().getQuantity()}"
                                   step="1"/>
                        </div>
                    </td>

                    <td th:if="${order.status != order.getStatus().PREPARED}">

                            <a th:href="@{'/itemStatus'(id=${item.id})}"> <span th:text="${item.status}">status</span> </a>

<!--                        <span class="btn btn-outline-info" ></span>-->
<!--                        <span th:text="${item.getStatus()}">Shipping Status</span>-->
                    </td>
                    <td>

                        <span th:if="${item.status == item.getStatus().DELIVERED}">
								<a class="btn btn-danger btn-sm mb-3"
                                   href="#">Review </a>
                        		</span>
                    </td>
                </tr>
                </tbody>
                <tfoot class="thead-dark">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><h6 style="margin: 0">Sum</h6></th>
                    <th><h6 style="margin: 0" th:text="${order.getTotalPrice()} + ' $'"></h6></th>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>
    </div>
</div>
</body>
</html>
