<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Product Details</title>
</head>
<body>

<div class="col" layout:fragment="main-content">


    <h1>Product Details</h1>

    <table>
        <tr th:object="${product}">
            <th>NAME</th>
            <td th:text="${product.name}"></td>
        </tr>
        <tr th:object="${product}">
            <th>DESCRIPTION</th>
            <td th:text="${product.getDescription()}"></td>
        </tr>
        <tr th:object="${product}">
            <th>PRICE</th>
            <td th:text="${product.getPrice()}"></td>
        </tr>

    </table>

    <div sec:authorize="hasAuthority('ROLE_BUYER')">
        <a th:href="@{/buyer/addProduct}"
           class="btn btn-primary btn-sm mb-3">
            Add To Cart
        </a>
    </div>
</div>

</body>
</html>
