<!DOCTYPE html>
<html layout:decorate="~{layouts/dashboard_layout}"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Product Details</title>
</head>
<body>

	<div class="col" layout:fragment="main-content">
		<form method="post" th:action="@{/updateQuantity}" th:object="${itm}" hidden="true" id="form">
			<div class="form-group has-search" style="margin: 0; margin-right: 20px">
				<input type="text" id="itmId" th:field="*{id}">
				<input type="text" id="itmQuantity" th:field="*{quantity}">
				<input type="text" id="desc" th:field="*{description}">
			</div>
        </form>

		<div class="container">
			<h1>Product Details</h1>
			<div class="single_product">
				<div class="container-fluid"
					style="background-color: #fff; padding: 11px;">
					<div class="row">
						<div class="col-lg-4 order-lg-2 order-1">
							<div class="image_selected">
								<img
									th:src="'data:image/png;base64,' + ${product.photoBase64}">
								
							</div>
						</div>
						<div class="col-lg-6 order-3">
							<div class="product_description">
								<div class="product_name" th:text="${product.name}"></div>
								<div class="product-rating">
									<span class="badge badge-success"><i class="fa fa-star"></i>
										4.5 Star</span> <span class="rating-review">35 Ratings & 45
										Reviews</span>
								</div>
								<div>
									<span class="product_price"
										th:text="${product.getPrice()} + ' $'"></span>
								</div>
								<hr class="singleline">
								<div>
									<span class="product_info"
										th:text="${product.getDescription()}"><span>
								</div>
								<div>
									<div class="row">
										<div class="col-md-5">
											<div class="br-dashed">
												<div class="row">
													<div class="col-md-3 col-xs-3">
														<img
															src="https://img.icons8.com/color/48/000000/price-tag.png">
													</div>
													<div class="col-md-9 col-xs-9">
														<div class="pr-info">
															<span class="break-all">Get 5% instant discount +
																10X rewards @ RENTOPC</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-7"></div>
									</div>
								</div>
								<hr class="singleline">
								<div class="order_info d-flex flex-row">
									<form action="#">
								</div>
								<div class="row">
									<div class="col-xs-6" style="margin-left: 13px;">
										<input min="1"
											th:max="${product.getQuantity()}" type="number"
											id="pd" autocomplete="off"
											value="1" step="1" />
										<input type="hidden" th:value="${product.getId()}" id="productId">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-6">
										<a class="btn btn-primary shop-button" style="color: white; cursor: pointer;"
											sec:authorize="hasAuthority('ROLE_BUYER')" id="add"> Add To Cart </a> <a
											class="btn btn-success shop-button"
											sec:authorize="hasAuthority('ROLE_BUYER')"
											th:href="@{/follow (id=${product.id})}"> Follow Seller </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row row-underline">
						<div class="col-md-6">
							<span class=" deal-text">Reviews</span>
						</div>
						<div class="col-md-6">
							<a href="#" data-abc="true"> <span class="ml-auto view-all"></span>
							</a>
						</div>
					</div>
					<div>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-2">
										<img src="https://image.ibb.co/jw55Ex/def_face.jpg"
											class="img img-rounded img-fluid" />
										<p class="text-secondary text-center">15 Minutes Ago</p>
									</div>
									<div class="col-md-10">
										<p>
											<a class="float-left"
												href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
													Akash</strong></a> <span class="float-right"><i
												class="text-warning fa fa-star"></i></span> <span
												class="float-right"><i
												class="text-warning fa fa-star"></i></span> <span
												class="float-right"><i
												class="text-warning fa fa-star"></i></span> <span
												class="float-right"><i
												class="text-warning fa fa-star"></i></span>

										</p>
										<div class="clearfix"></div>
										<p>Lorem Ipsum is simply dummy text of the pr make but
											also the leap into electronic typesetting, remaining
											essentially unchanged. It was popularised in the 1960s with
											the release of Letraset sheets containing Lorem Ipsum
											passages, and more recently with desktop publishing software
											like Aldus PageMaker including versions of Lorem Ipsum.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
