<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Product</title>
</head>
<body>

<div class="col" layout:fragment="main-content">

    <div class="row" style="text-align: center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Update Product</h1>
            <form th:object="${updateProduct}" action="#" th:action="@{/product/updateProductProcess(id=${updateProduct.id})}"
                  method="post" enctype="multipart/form-data">

				<img class="rounded-circle" th:src="'data:image/png;base64,' + *{photoBase64}" style="width: 200px">

                <div style="clear: both; display: block; height: 10px;"></div>

                <input type="text" th:field="*{name}" class="form-control"
                       placeholder="Product Name" />
                <p class="alert-danger" th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">ProductName Error</p>
                <div style="clear: both; display: block; height: 10px;"></div>

                <input type="text" th:field="*{description}" class="form-control"
                       placeholder="Description" />
                <p  class="alert-danger"th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}">Description Error</p>

                <input type="text" th:field="*{price}" class="form-control"
                       placeholder="Enter Price" />
                <p class="alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price
                    Error</p>
                <div style="clear: both; display: block; height: 10px;"></div>

                <input type="text" th:field="*{quantity}" class="form-control"
                       placeholder="Add Quantity" />
                <p class="alert-danger" th:if="${#fields.hasErrors('quantity')}"
                   th:errors="*{quantity}">Quantity Error</p>
                <div style="clear: both; display: block; height: 10px;"></div>
					<input type="text" th:field="*{photo}" hidden="true"/>

				<div class="custom-file mb-3">
			      <input type="file" class="custom-file-input" th:field="*{image}"
						accept="image/png, image/jpeg" id="customFile">
			      <label class="custom-file-label" for="customFile">Choose Photo</label>
			    </div>
                <div style="clear: both; display: block; height: 10px;"></div>

                <input type="submit" class="btn btn-primary form-control" value="Save Product">
            </form>

        </div>
    </div>


</div>

</body>
</html>
